@media only screen and (min-width: 961px) {

	body {
		width: 100%;
		background-color: #f1f2f2;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}

	p {
		font-family: 'Raleway';
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 1px;
	}

	h1 {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 50px;
	}

	h2 {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 18px;
		letter-spacing: 1px;
	}

	h4 {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 22px;
	}

	h4.vertical-logo-text {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 22px;
		letter-spacing: 3px;
	}

	h4.footer-header {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 18px;
		letter-spacing: 2px;
		color: #fff;
		margin-bottom: -15px;
	}

	p.footer-para {
		font-family: 'Raleway';
		font-size: 18px;
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: -15px;
	}


	strong {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 30px;
		border-bottom: 3px solid #ceebe9;
	}


	strong.small {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 13px;
		border-bottom: 3px solid #ceebe9;
	}

	a.email {
		color: black;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}

	a.email-footer {
		color: #fff;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			color: #fff;
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}


	.header {
		width: 100%;
		height: 85px;
		//need to offset content in body using jquery to accomodate for this
		position: fixed;
		background-color: white;
		top: 0;
		-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
		z-index: 9999;
	}

	.logo img{
		max-width: 235px;
		float: left;
		margin-top: 7px;
		padding-left: 75px;
	}

	.nav-main {
		//border: 1px dotted red;
		float: right;
		margin: 0px;
		padding-right: 75px;
		list-style: none;
		overflow: auto; //clearfix to make stuff be as tall as it wants to be
	}

	.nav-main li {
		display: block;
		float: left;
		padding: 30px 40px 0px 40px;

		.is-current {
			border-bottom: 2px solid #ceebe9;	
		}
	}

	.nav-main li a {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 16px;
		display: block;
		color: black;
		text-decoration: none;

		&:hover {
			border-bottom: 2px solid #ceebe9;
			animation: moveUp 1s;
		}
	}

	#nav-button {
		display: none;
	}

	.nav-social {
		display: none;
	}

	.nav-text {
		display: none;
	}

	.nav-honey-icon {
		display: none;
	}

	@keyframes moveUp {
		0% {}
		50% {
			margin-top: -5px;
		}
		100% {
			margin-top: -2px;
		}
	}



	.col-1-3 {
		width: 23%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
		margin-right: 30px;
		margin-left: 13.5%;
	}

	.col-2-3 {
		width: 23%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
		margin-right: 30px;
	}

	.col-3-3 {
		width: 23%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
		margin-right: 40px;
	}

	.col-1{
		margin: 0 auto;
		overflow: hidden;
		max-width: 73%;
		-webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
	}


	.row1 {
		//border: 1px solid red;
		margin: 0 auto;
		overflow: auto;
		width: 100%;
		margin-bottom: 30px;
	}

	.row2 {
		margin: 0 auto;
		overflow: auto;
		width: 100%;
	}



	.hero-image {
		background-image: url("../images/honeybrew_sign.jpg");
		background-repeat: no-repeat;
		width: 100%;
		//height: 100%;
		background-size: contain;
		//margin-bottom: 100px;
		padding-bottom: 100%;
	}

	.brandbox {
		position: relative;
		z-index: 1;
	}

	.hero-main-box {
		width: 470px;
		height: 420px;
		background-color: #fff;
		opacity: .8;
		position: absolute;
		z-index: 30;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);    
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.vertical-logo {
		margin-left: 25%;
		margin-top: 5%;
	}


	.logo-vertical {
		border: 2px solid black;
		padding: 27px 50px;
		opacity: .99;
		margin-left: 9%;
		margin-top: 8%;
		height: 40%;
		width: 58.7%;
	}

	.hero-blue-box {
		background-color: #c7e0de;
		border: 2px solid black;
		width: 80%;
		height: 20px;
		margin-top: -2px;
		margin-left: 9%;
	}


	.hero-text-box {
		margin-top: -31px;
		margin-left: 9%;
	}

	h4.honey-parings {
		float: left;
		padding: 30px 27.5px;
		border: 2px solid black;
	}

	h4.est {
		float: left;
		padding: 30px 20px;
		border: 2px solid black;
		margin-left: -2px;
	}

	h4.vertical-logo-text {
		margin-top: 0px;
		margin-left: 10%;
	}


	.circle-arrow {
		z-index: 35;
		margin-top: -40%;
		margin-bottom: 90px;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 40px;
		background-color: #fdf386;
		left: 49%;
		top: 50%;
		transform: translate(-50%, -50%);    
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.fa-angle-down {
		color: black;
		position: absolute;
		left: 49%;
		top: 50%;
		transform: translate(-50%, -50%);    
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		animation: bounce 2s infinite;
	}

	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
	    transform: translate(-15px 0px);
	    -webkit-transform: translate(-15px 0px);
	    -moz-transform: translate(-15px 0px);
	  }
		40% {
	    transform: translate(-15px, -22px);
	    -webkit-transform: translate(-15px, -22px);
	    -moz-transform: translate(-15px, -22px);

	  }
		60% {
	    transform: translate(-15px, -12px);
	    -webkit-transform: translate(-15px, -12px);
	    -moz-transform: translate(-15px, -12px);

	  }
	}


	.about-img-left {
		float: left;
		margin-left: 10%;
		margin-right: 50px;
		width: 40%;
	}


	.about-header {
		padding-top: 100px;
		margin-left: 100px;
		margin-bottom: 60px;
	}

	.about-paragraphs {
		float: left;
		max-width: 30%;
		padding: 50px;
		margin-left: -75px;
		border: 5px solid #ceebe9;
	}


	.contact-header {
		position: relative;
		padding-top: 150px;
		margin-left: 260px;
		margin-bottom: 40px;
	}

	.contact-paragraphs {
		//z-index: 10;
		position: relative;
		float: left;
		padding: 50px;
		max-width: 35%;
		margin-left: 100px;
		margin-top: 10px;
		margin-bottom: 20px;
		border: 5px solid #ceebe9;
	}

	.contact-img-right {
		width: 40%;
		margin-left: -30px;
		z-index: -5;
		margin-top: -150px;
		position: relative;
	}


	#page-tea {
		clear: left;
		width: 100%;
		margin-bottom: 140px;
	}

	#page-contact {
		position: relative;
		clear: both;
		overflow: auto;
		width: 100%;
		margin-bottom: 140px;
	}

	#page-honey {
		width: 100%;
	}


	.tea-header, .honey-header {
		text-align: center;
		padding-top: 100px;
	}


	.tea-images img {
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
	}


	.honey-images img {
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
	}

	/*
	.hide {
		display: none;
	}
	*/

	.js-tea1,
	.js-tea2,
	.js-tea3,
	.js-tea4,
	.js-tea5,
	.js-tea6 {
		transition: all 2s;

		.js-tea-text1,
		.js-tea-text2,
		.js-tea-text3,
		.js-tea-text4,
		.js-tea-text5,
		.js-tea-text6{
			width: 80%;
			position: absolute;
			overflow: hidden;
			z-index: 10;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);    
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			opacity: 0;
		}

		&:hover {

			.js-tea-text1,
			.js-tea-text2,
			.js-tea-text3,
			.js-tea-text4,
			.js-tea-text5,
			.js-tea-text6{
				opacity: 1;
				transition: .4s ease-in;
				//border: 5px solid #ceebe9;
				//padding: 20px;

			}
		}	

	}


	.honey1,
	.honey2,
	.honey3,
	.honey4,
	.honey5,
	.honey6 {
		transition: all 2s;

		.js-honey-text1,
		.js-honey-text2,
		.js-honey-text3,
		.js-honey-text4,
		.js-honey-text5,
		.js-honey-text6{
			width: 86%;
			position: absolute;
			overflow: hidden;
			z-index: 10;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);    
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			opacity: 0;
		}

		&:hover {

			.js-honey-text1,
			.js-honey-text2,
			.js-honey-text3,
			.js-honey-text4,
			.js-honey-text5,
			.js-honey-text6{
				opacity: 1;
				transition: .4s ease-in;
			}
		}	

	}



	.h2-move-up {
		margin-top: -15px;
	}


	.slideshow {
		//padding: 130px 0px;
		width: 100%;
		position: relative;
		//background-color: #e2d5b5;
	}

	.hero-image2 {
		margin-bottom: -5px;
		width: 100%;
		overflow: hidden;
		position: relative;
		display: none;
	}

	.fa-chevron-left {
		opacity: .7;
		background-color: #fff;
		padding: 10px;
		color: black;
		//border: 5px solid #ceebe9;
		z-index: 35;
		position: absolute;
		left: 15%;
		top: 45%;
		transform: translateY(-45%);
	}

	.fa-chevron-right {
		opacity: .7;
		background-color: #fff;
		padding: 10px;
		color: black;
		//border: 5px solid #ceebe9;
		z-index: 35;
		position: absolute;
		left: 81%;
		top: 45%;
		transform: translateY(-45%);
	}


	.footer {
		margin-top: 50px;
		position: relative;
		//z-index: 10;
		height: 200px;
		background-color: #414042;
	}

	.contact-footer {
		position: absolute;
		clear: left;
		margin-top: 60px;
		margin-left: 70px;
	}

	.social {
		//position: absolute;
		//clear: left;
		float: right;
		margin: 40px 75px 0px 0px;
	}

	.circle{
		background-color: #ceebe9;
		border-radius: 20px;
		padding: 10px;

		&:hover {
			background-color: #fdf386;
		}
	}
		
	.fa-twitter{
		color: #414042;
		margin-left: 10px;
	}

	.fa-instagram{
		color: #414042;
		margin-left: 10px;
	}

	.fa-facebook{
		color: #414042;
		padding: 10px 13px;
		margin-left: 10px;
	}

	.honey-icon {
		position: absolute;
		width: 60px;
		float: left;
		margin: 33px 0px 0px 70px;
	}

}//ends media query










@media only screen and (min-width: 481px) and (max-width: 960px){


	html, body {
		overflow-x: hidden;
		width: 100%;
		background-color: #f1f2f2;
		margin: 0 auto;
		margin-top: 0px !important;
		padding: 0;
		position: relative;
	}

	.header {
		width: 100%;
		background-color: #ffffff;
		height: 90px;
		position: relative;
		z-index: 5;
		margin-top: -15px;
		-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
	}


    #nav-icon1 {
	  width: 30px;
	  height: 25px;
	  position: relative;
	  z-index: 50;
      margin: -55px 15px 0px 25px;
      float: right;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	}

	#nav-icon1 span {
	  display: block;
	  position: absolute;
	  height: 4px;
	  width: 100%;
	  background: black;
	  border-radius: 7px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	}

	#nav-icon1 span:nth-child(1) {
	  top: 0px;
	}

	#nav-icon1 span:nth-child(2) {
	  top: 10px;
	}

	#nav-icon1 span:nth-child(3) {
	  top: 20px;
	}

	#nav-icon1.open span:nth-child(1) {
	  top: 10px;
	  -webkit-transform: rotate(135deg);
	  -moz-transform: rotate(135deg);
	  -o-transform: rotate(135deg);
	  transform: rotate(135deg);
	}

	#nav-icon1.open span:nth-child(2) {
	  opacity: 0;
	  left: -60px;
	}

	#nav-icon1.open span:nth-child(3) {
	  top: 10px;
	  -webkit-transform: rotate(-135deg);
	  -moz-transform: rotate(-135deg);
	  -o-transform: rotate(-135deg);
	  transform: rotate(-135deg);
	}

    nav {
    	background-color: #808284;
        border-bottom: 0;
        right: 100vw;
        height: 102vh;
        width: 42%;
        z-index: 30;
        position: absolute;
        margin-top: 0;
        margin-left: 60vw;
    }


    nav ul {
    	width: 40%;
		text-decoration: none;
        display: none;
        height: auto;
        list-style: none;
        margin: 30px 0px 70px 0px;
        float: left;
    }

    nav ul li {
    	color: #fff;
    	font-family: 'montserratregular';
		font-size: 14px;
		padding: 15px;
		padding-left: 40px;
		display: inline-block;
		margin: 0;
    }

    .nav-main li a {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 18px;
		display: inline-block;
		color: #fff;
		text-decoration: none;

		&:hover {
			border-bottom: 2px solid #ceebe9;
			animation: none;
		}
	}


    nav a#pull {
        display: inline-block;
        position: relative;
    }


    .nav-honey-icon {
    	width: 20%;
    	margin-left: 38px;
    	margin-bottom: -20px;
    }

    .nav-text {
    	margin: 40px;
    }

    .nav-header {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 2px;
		color: #fff;
		margin-bottom: -10px;
	}

	p.nav-para {
		font-family: 'Raleway';
		font-size: 16px;
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: -10px;
	}

	a.nav-email {
		color: #fff;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}

	.nav-social {
		margin: 30px 0px 0px 30px;
	}


    .clearfix:before,
	.clearfix:after {
	    content: " ";
	    display: table;
	}
	.clearfix:after {
	    clear: both;
	}
	.clearfix {
	    *zoom: 1;
	   	//margin-left: -25px;
	   	padding: 0;
	   	overflow: hidden;
	}


	.logo img{
		position: relative;
		z-index: 50;
		max-width: 200px;
		margin: 20px 0px 10px 20px;
	}



	p {
		font-family: 'Raleway';
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 1px;
	}

	h1 {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 30px;
	}

	h2 {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 1px;
	}

	strong {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 18px;
		border-bottom: 3px solid #ceebe9;
	}

	strong.small {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 10px;
		border-bottom: 2px solid #ceebe9;
	}

	a.email {
		color: black;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}

	a.email-footer {
		color: #fff;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			color: #fff;
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}

	@keyframes moveUp {
		0% {}
		50% {
			margin-top: -5px;
		}
		100% {
			margin-top: -2px;
		}
	}



	.col-1-3 {
		width: 32%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
		margin-right: 2%;
		margin-left: 0;
	}

	.col-2-3 {
		width: 32%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
		margin-right: 2%;
	}

	.col-3-3 {
		width: 32%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		display: block;
		margin-right: 0;
	}

	.col-1{
		margin: 0 auto;
		overflow: hidden;
		max-width: 100%;
		-webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
	}


	.row1 {
		//border: 1px solid red;
		margin: 0 auto;
		overflow: auto;
		width: 100%;
		margin-bottom: 30px;
	}

	.row2 {
		margin: 0 auto;
		overflow: auto;
		width: 100%;
	}


	.hero-image {
		background-image: url("../images/honeybrew_sign.jpg");
		background-repeat: no-repeat;
		width: 100%;
		//height: 100%;
		background-size: contain;
		//margin-bottom: 100px;
		padding-bottom: 100%;
	}

	.brandbox {
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.hero-main-box {
		width: 250px;
		height: 225px;
		background-color: #fff;
		opacity: .8;
		position: absolute;
		z-index: 30;
		left: 50%;
		top: 50%;
		margin-top: -5%;
		transform: translate(-50%, -50%);    
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.vertical-logo {
		width: 50%;
		margin-left: 25%;
		margin-top: -12%;
		margin-bottom: 5px;
	}

	.logo-vertical {
		border: 2px solid black;
		padding: 30px 14.6px;
		opacity: .99;
		margin-left: 9%;
		margin-top: 8%;
		height: 25%;
		width: 68%;
	}

	.hero-blue-box {
		background-color: #c7e0de;
		border: 2px solid black;
		width: 79.6%;
		height: 6px;
		margin-top: -2px;
		margin-left: 9%;
	}

	.hero-text-box {
		margin-top: -21px;
		margin-left: 9%;
	}

	h4.honey-parings {
		font-size: 14px;
		float: left;
		padding: 10px 27.5px;
		border: 2px solid black;
		width: 35%;
	}

	h4.est {
		font-size: 14px;
		float: left;
		padding: 10px 20px;
		border: 2px solid black;
		margin-left: -2px;
		width: 10%;
	}

	h4.vertical-logo-text {
		font-size: 14px;
		margin-left: 16%;
		margin-top: -7px;
		margin-bottom: 10px;
	}


	.circle-arrow {
		z-index: 35;
		margin-top: -40%;
		margin-bottom: 70px;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 40px;
		background-color: #fdf386;
		left: 49%;
		top: 50%;
		transform: translate(-50%, -50%);    
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.fa-angle-down {
		color: black;
		position: absolute;
		left: 49%;
		top: 50%;
		transform: translate(-50%, -50%);    
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		animation: bounce 2s infinite;
	}

	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
	    transform: translate(-15px 0px);
	    -webkit-transform: translate(-15px 0px);
	    -moz-transform: translate(-15px 0px);
	  }
		40% {
	    transform: translate(-15px, -22px);
	    -webkit-transform: translate(-15px, -22px);
	    -moz-transform: translate(-15px, -22px);
	  }
		60% {
	    transform: translate(-15px, -12px);
	    -webkit-transform: translate(-15px, -12px);
	    -moz-transform: translate(-15px, -12px);
	  }
	}


	.about-img-left {
		float: left;
		margin-left: 10%;
		margin-right: 50px;
		width: 40%;
	}


	.about-header {
		padding-top: 30px;
		margin-left: 100px;
		margin-bottom: 60px;
	}

	.about-paragraphs {
		float: right;
		max-width: 42%;
		padding: 40px;
		margin-right: 40px;
		margin-top: -25%;
		border: 5px solid #ceebe9;
	}


	.contact-header {
		position: relative;
		padding-top: 80px;
		margin-left: 130px;
		//margin-bottom: 40px;
	}

	.contact-paragraphs {
		//z-index: 10;
		position: relative;
		float: left;
		padding: 50px;
		max-width: 35%;
		margin-left: 40px;
		margin-bottom: 20px;
		border: 5px solid #ceebe9;
	}

	.contact-img-right {
		clear: left;
		float: right;
		width: 45%;
		margin-right: 40px;
		z-index: -5;
		margin-top: -350px;
		//margin-bottom: 200px;
		position: relative;
	}


	#page-tea {
		clear: right;
		width: 100%;
		margin-bottom: 140px;
	}

	#page-contact {
		//position: relative;
		clear: both;
		overflow: auto;
		width: 100%;
		margin-bottom: 100px;
	}

	#page-honey {
		width: 100%;
	}


	.tea-header, .honey-header {
		text-align: center;
		padding-top: 100px;
	}


	.tea-images img {
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
	}


	.honey-images img {
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
	}

	/*
	.hide {
		display: none;
	}
	*/

	.js-tea1,
	.js-tea2,
	.js-tea3,
	.js-tea4,
	.js-tea5,
	.js-tea6 {
		transition: all 2s;

		.js-tea-text1,
		.js-tea-text2,
		.js-tea-text3,
		.js-tea-text4,
		.js-tea-text5,
		.js-tea-text6{
			width: 83%;
			position: absolute;
			overflow: hidden;
			z-index: 10;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);    
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			opacity: 0;
		}

		&:hover {

			.js-tea-text1,
			.js-tea-text2,
			.js-tea-text3,
			.js-tea-text4,
			.js-tea-text5,
			.js-tea-text6{
				opacity: 1;
				transition: .4s ease-in;
				//border: 5px solid #ceebe9;
				//padding: 20px;

			}
		}	

	}


	.honey1,
	.honey2,
	.honey3,
	.honey4,
	.honey5,
	.honey6 {
		transition: all 2s;

		.js-honey-text1,
		.js-honey-text2,
		.js-honey-text3,
		.js-honey-text4,
		.js-honey-text5,
		.js-honey-text6{
			width: 89%;
			position: absolute;
			overflow: hidden;
			z-index: 10;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);    
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			opacity: 0;
		}

		&:hover {

			.js-honey-text1,
			.js-honey-text2,
			.js-honey-text3,
			.js-honey-text4,
			.js-honey-text5,
			.js-honey-text6{
				opacity: 1;
				transition: .4s ease-in;
			}
		}	

	}



	.h2-move-up {
		margin-top: -15px;
	}


	.slideshow {
		//padding: 130px 0px;
		width: 100%;
		position: relative;
		//background-color: #e2d5b5;
	}

	.hero-image2 {
		margin-bottom: -5px;
		width: 100%;
		overflow: hidden;
		position: relative;
		display: none;
	}

	.fa-chevron-left {
		opacity: .7;
		background-color: #fff;
		padding: 10px;
		color: black;
		//border: 5px solid #ceebe9;
		z-index: 35;
		position: absolute;
		left: 3%;
		top: 45%;
		transform: translateY(-45%);
	}

	.fa-chevron-right {
		opacity: .7;
		background-color: #fff;
		padding: 10px;
		color: black;
		//border: 5px solid #ceebe9;
		z-index: 35;
		position: absolute;
		left: 90%;
		top: 45%;
		transform: translateY(-45%);
	}


	.footer {
		clear: right;
		margin-top: 50px;
		position: relative;
		//z-index: 10;
		height: 200px;
		background-color: #414042;
	}

	.contact-footer {
		position: absolute;
		clear: left;
		margin-top: 60px;
		margin-left: 40px;
	}

	.social {
		//position: absolute;
		//clear: left;
		float: right;
		margin: 40px 50px 0px 0px;
	}

	.circle{
		background-color: #ceebe9;
		border-radius: 20px;
		padding: 10px;

		&:hover {
			background-color: #fdf386;
		}
	}
		
	.fa-twitter{
		color: #414042;
		margin-left: 10px;
	}

	.fa-instagram{
		color: #414042;
		margin-left: 10px;
	}

	.fa-facebook{
		color: #414042;
		padding: 10px 13px;
		margin-left: 10px;
	}

	.honey-icon {
		position: absolute;
		width: 60px;
		float: left;
		margin: 33px 0px 5px 40px;
	}

	h4.footer-header {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 2px;
		color: #fff;
		margin-bottom: -10px;
	}

	p.footer-para {
		font-family: 'Raleway';
		font-size: 16px;
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: -10px;
	}

	p.footer-para2 {
		font-family: 'Raleway';
		font-size: 16px;
		letter-spacing: 1px;
		color: #fff;
	}

	a.email {
		color: black;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}

	a.email-footer {
		color: #fff;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			color: #fff;
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}




}













//MOBILE

@media only screen and (min-width: 0) and (max-width: 480px) {
	html, body {
		overflow-x: hidden;
		width: 100%;
		background-color: #f1f2f2;
		margin-top: 0px !important;
		margin: 0 auto;
		padding: 0;
		position: relative;
	}

	.header {
		width: 100%;
		background-color: #ffffff;
		height: 80px;
		position: relative;
		z-index: 5;
		margin-top: -15px;
		-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
	}


     #nav-icon1 {
	  width: 30px;
	  height: 25px;
	  position: relative;
	  z-index: 50;
      margin: -43px 15px 0px 25px;
      float: right;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;
	}

	#nav-icon1 span {
	  display: block;
	  position: absolute;
	  height: 4px;
	  width: 100%;
	  background: black;
	  border-radius: 7px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
	}

	#nav-icon1 span:nth-child(1) {
	  top: 0px;
	}

	#nav-icon1 span:nth-child(2) {
	  top: 10px;
	}

	#nav-icon1 span:nth-child(3) {
	  top: 20px;
	}

	#nav-icon1.open span:nth-child(1) {
	  top: 10px;
	  -webkit-transform: rotate(135deg);
	  -moz-transform: rotate(135deg);
	  -o-transform: rotate(135deg);
	  transform: rotate(135deg);
	}

	#nav-icon1.open span:nth-child(2) {
	  opacity: 0;
	  left: -60px;
	}

	#nav-icon1.open span:nth-child(3) {
	  top: 10px;
	  -webkit-transform: rotate(-135deg);
	  -moz-transform: rotate(-135deg);
	  -o-transform: rotate(-135deg);
	  transform: rotate(-135deg);
	}


    nav {
    	color: #fff;
        border-bottom: 0;
        width: 100%;
        background-color: #808284;
        z-index: 15;
        position: absolute;
        margin-top: -67px;
        height: 102vh;
        left: 100vw;
        overflow: hidden;
    }


    nav ul {
    	color: #fff;
    	width: 22%;
    	background-color: #808284;
		text-decoration: none;
        display: none;
        height: auto;
        list-style: none;
        margin: 15px 0px 20px 5px;
        padding-bottom: 50px;
    }

    nav ul li {
    	color: #fff;
    	font-family: 'montserratregular';
		font-size: 16px;
		padding: 15px;
		display: inline-block;
		margin: 0;
    }


    
	.nav-main li a {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 16px;
		display: block;
		color: #fff;
		text-decoration: none;

		&:hover {
			border-bottom: 2px solid #ceebe9;
			animation: none;
		}
	}


    nav a#pull {
    	color: #fff;
        display: inline-block;
        position: relative;
    }

    .nav-honey-icon {
    	width: 15%;
    	margin-left: 18px;
    	margin-bottom: -30px;
    }

    .nav-text {
    	color: #fff;
    	clear: both;
    	margin: 40px 0px 0px 20px;
    }

    .nav-header {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 2px;
		color: #fff;
		margin-bottom: -10px;
	}

	p.nav-para {
		font-family: 'Raleway';
		font-size: 16px;
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: -10px;
	}

	a.nav-email {
		color: #fff;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}

	.nav-social {
		clear: both;
		margin: 30px 0px 0px 8px;
	}


    .clearfix:before,
	.clearfix:after {
	    content: " ";
	    display: table;
	}
	.clearfix:after {
	    clear: both;
	}
	.clearfix {
		color: #fff;
	    *zoom: 1;
	    float: left;
	   	//margin-left: -25px;
	   	padding: 0;
	   	overflow: hidden;
	}


	.logo img{
		max-width: 45%;
		margin-top: 20px;
		margin-left: 20px;
	}


	p {
		font-family: 'Raleway';
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 1px;
	}

	h1 {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 30px;
	}

	h2 {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 1px;
	}

	strong {
		font-family: 'Oswald';
		font-weight: 300;
		font-size: 16px;
		border-bottom: 3px solid #ceebe9;
	}


	.col-1-3 {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		display: block;
		margin-bottom: 25px;
	}

	.col-2-3 {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		display: block;
		margin-bottom: 25px;
	}

	.col-3-3 {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		display: block;
		margin-bottom: 25px;
	}

	.row1 {
		margin: 0;
		overflow: hidden;
		width: 100%;
	}

	.row2 {
		margin: 0;
		overflow: hidden;
		width: 100%;
	}

	.tea-images img {
		width: 100%;
		height: 100%;
		position: relative;
		margin-right: 15px;
		overflow: hidden;
	}


	.honey-images img {
		width: 100%;
		height: 100%;
		position: relative;
		margin-right: 15px;
		overflow: hidden;
	}

	.brandbox {
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.hero-main-box {
		display: none;
		width: 250px;
		height: 225px;
		background-color: #fff;
		opacity: .8;
		position: absolute;
		z-index: 30;
		left: 50%;
		top: 50%;
		margin-top: -10%;
		transform: translate(-50%, -50%);    
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		
	}

	.hero-image {
		background-image: url("../images/honeybrew_sign.jpg");
		background-repeat: no-repeat;
		width: 100%;
		//height: 100%;
		background-size: contain;
		//margin-bottom: 100px;
		padding-bottom: 100%;
	}



	.circle-arrow {
		display: none;
	}

	.fa-angle-down {
		display: none;
	}

	.about-img-left {
		width: 70%;
		margin-top: -70px;
		margin-left: 25px;
		position: relative;
		z-index: 1;
	}

	.tea-header {
		text-align: center;
		margin-top: 60px;
	}

	.honey-header {
		text-align: center;
		margin-top: 90px;
	}

	h1.about-header {
		position: relative;
		margin: -330px 0px 80px 190px;
		z-index: 2;
	}

	.about-paragraphs {
		position: relative;
		clear: left;
		max-width: 80%;
		padding: 50px;
		margin: 220px 25px 0px 50px;
		border: 5px solid #ceebe9;
		z-index: 2;
	}

	.col-1{
		margin: 0 auto;
		overflow: hidden;
		width: 100%;
		height: auto;
		-webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.1);
	}


	.js-tea1,
	.js-tea2,
	.js-tea3,
	.js-tea4,
	.js-tea5,
	.js-tea6 {

		.js-tea1 img,
		.js-tea2 img,
		.js-tea3 img,
		.js-tea4 img,
		.js-tea5 img,
		.js-tea6 img {
			opacity: .3;
		}

		.js-tea-text1,
		.js-tea-text2,
		.js-tea-text3,
		.js-tea-text4,
		.js-tea-text5,
		.js-tea-text6{
			width: 55%;
			position: absolute;
			overflow: hidden;
			z-index: 10;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);    
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			opacity: 1;
		}
	}


	.honey1,
	.honey2,
	.honey3,
	.honey4,
	.honey5,
	.honey6 {

		.honey1 img,
		.honey2 img,
		.honey3 img,
		.honey4 img,
		.honey5 img,
		.honey6 img {
			opacity: .3;
		}

		.js-honey-text1,
		.js-honey-text2,
		.js-honey-text3,
		.js-honey-text4,
		.js-honey-text5,
		.js-honey-text6{
			width: 55%;
			position: absolute;
			overflow: hidden;
			z-index: 10;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);    
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			opacity: 1;
		}	

	}

	.slideshow {
		//padding: 130px 0px;
		width: 100%;
		//background-color: #e2d5b5;
		margin-top: 50px;
		//margin-bottom: -5%;
	}

	.hero-image2 {
		width: 100%;
		height: auto;
		overflow: hidden;
		position: relative;
		display: none;
		margin-bottom: -57px;
	}

	.fa-chevron-left {
		opacity: .7;
		background-color: #fff;
		padding: 10px;
		color: black;
		//border: 5px solid #ceebe9;
		z-index: 35;
		position: relative;
		left: 2%;
		top: 180%;
		transform: translateY(-180%);
	}

	.fa-chevron-right {
		opacity: .7;
		background-color: #fff;
		padding: 10px;
		color: black;
		//border: 5px solid #ceebe9;
		z-index: 35;
		position: relative;
		left: 74%;
		top: 180%;
		transform: translateY(-180%);
	}

	#page-contact {
		margin-top: -130px;
		margin-bottom: 0px;
	}

	.contact-img-right {
		display: none;
		//margin-left: 90px;
		//margin-top: -70px;
	}

	h1.contact-header {
		margin: 170px 0px 30px 30px;
	}

	.contact-paragraphs {
		clear: left;
		max-width: 57%;
		padding: 30px;
		margin: 0px 0px 100px 75px;
		border: 5px solid #ceebe9;
	}

	.footer {
		height: 180px;
		background-color: #414042;
		margin-top: 0px;
	}

	.footer-header {
		//margin-top: 15px;
	}


	.honey-icon img{
		width: 300%;
		margin-left: -50px;
		margin-top: 0px;
	}

	.contact-footer {
		clear: left;
		//margin-left: 40px;
		margin-top: 40px;
		margin-left: 20px;
	}

	.social {
		clear: left;
		float: right;
		margin: -125px 25px 0px 0px;
	}

	.circle{
		background-color: #ceebe9;
		border-radius: 20px;
		padding: 10px;

		&:hover {
			background-color: #fdf386;
		}
	}
		
	.fa-twitter{
		color: #414042;
		margin-left: 10px;
	}

	.fa-instagram{
		color: #414042;
		margin-left: 10px;
	}

	.fa-facebook{
		color: #414042;
		padding: 10px 13px;
		margin-left: 10px;
	}

	.honey-icon {
		width: 18px;
		float: left;
		margin: 35px 0px 0px 70px;
	}


	h4.footer-header {
		font-family: 'Playfair Display';
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 2px;
		color: #fff;
		margin-bottom: -15px;
	}

	p.footer-para {
		font-family: 'Raleway';
		font-size: 16px;
		letter-spacing: 1px;
		color: #fff;
		margin-bottom: -15px;
	}

	p.footer-para2 {
		font-family: 'Raleway';
		font-size: 16px;
		letter-spacing: 1px;
		color: #fff;
	}

	a.email {
		color: black;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}

	a.email-footer {
		color: #fff;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 1px;
		text-decoration: none;
		border-bottom: 2px solid #ceebe9;
		

		&:hover {
			color: #fff;
			letter-spacing: 2px;
			border-bottom: 2px solid #ceebe9;
		}
	}

}
